.adminmain{
    display: flex;
    gap: 3rem;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
}

.adminp{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 3rem;
    white-space: pre-line;
    color: var(--color);
}
.newbtn{
    background-color: var(--color);
    border: 3px outset #80807a;
    color: beige;
    width: 7rem;
    font-size: 1.1rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.index{
    border-top: 1px solid var(--color);
    border-bottom: 1px solid var(--color);
    font-weight: bold;
    color: var(--color);
    font-size: 1.5rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*sidemenu*/
.cls1{
    fill: beige;
    stroke-width: 0px;
}

.sidemenu{
    position: relative;
    font-size: 1rem;
    background-color: var(--color);
    height: 100vh;
    width: 12rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 0.5rem;
    box-sizing: border-box;
}

.logobox{
    width: 7rem;
    height: auto;
}
.logo{
    fill: beige;
    cursor: pointer;
}
.logbtn{
    background-color: beige;
    width: 7rem;
    height: 2rem;
    /* border-radius: 5px; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* box-shadow: inset 2px 2px 3px #d6f3ff, inset -3px -3px 3px #5aa3c1; */
    /* box-shadow: inset 2px 2px #e2e2e2, inset -3px -3px #575757; */
    box-shadow: inset 2px 2px #fffff5, inset -3px -3px #bdbd98;
    color: var(--color);
}

.category{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.3rem;
    line-height: 2.3rem;
    color: beige;
    cursor: pointer;
}

.category div:hover{
    background-color: beige;
    color: var(--color);
}
.category div:focus{
    background-color: beige;
    color: var(--color);
}

/*toon*/
.toonadminpage{
    font-size: 1rem;
    width: 80%;
    height: 80%;
    overflow-y: scroll;
    display: flex;
    flex-direction: row;
    position: relative;
}

/*toonmodal*/
.toonmodalpage{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.toonform{
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--color);
    /* width: 30rem; */
    padding: 1rem;
    box-sizing: border-box;
}
.toonformleft{
    width: 100%;
    height: 25rem;
    background-color: white;
}

.toonformleft input[type='file']{
    display: none;
}

.fileselectbtn{
    width: 100%;
    height: 3rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: #ffcd48;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.toonformleftcon{
    width: 100%;
    height: 100%;
}
.alignbtn{
    height: 2rem;
    color: var(--color);
    font-size: 1rem;
    border-radius: 0;
    border: 0px solid;
    background-color: #ffdf88;
}
.toonformright{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    color: white;
    gap: 0.3rem;
    padding-bottom: 1rem;
}

.linkbox{
    position: relative;
    display: flex;
    width: 100%;
}

.linkbox input:nth-child(1){
    width: 30%;
}

.linkbox input:nth-child(2){
    width: 70%;
}

.fetching{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: beige;
    font-size: 3rem;
    background-color: rgba(0, 0, 0, 0.527);
    position: fixed;
    z-index: 100;
    top: 0;
    margin: 0;
    padding: 0;
    border: 0;
}

.toonlist{
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
    align-items: center;
    width: 100%;
    height: 20%;
    border-bottom: 1px solid var(--color);
    padding: 0.5rem 0 0.8rem 0;
    box-sizing: border-box;
}

.toonlistthumb{
    width: 8rem;
    height: 8rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    /* border-radius: 50%; */
}

.toonlisttext{
    width: 84%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.5rem
}

.uploadbtn{
    background-color: beige;
    border: 2px solid #866a54;
    color: var(--color);
    font-size: 1rem;
}
.admincrudbtn{
    border: 2px solid beige;
    background-color: #866a54;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    padding: 0.2rem;
    box-sizing: border-box;
}